@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Avenir Next';
  background-color: #010306;
}

.DarkerGrostesqueSemibold {
  font-family: 'Darker Grotesque';
  font-weight: 700;
}

.DarkerGrostesqueMedium {
  font-family: 'Darker Grotesque';
  font-weight: 500;
}

.animation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --a: 0deg;
  background: radial-gradient(40% 40% at 44.57% 100.71%, #FDD320 0%, rgba(253, 211, 32, 0.22) 100%);
  border-radius: 10px;
  z-index: 1;
}

@property --a {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false
}

@keyframes rotateAnimation {
  to {
    --a: 360deg;
  }
}

@supports (background: paint(houdini)) {
  .animation::after {
    animation: rotateAnimation 3s linear infinite;
    background: linear-gradient(var(--a), #FDD320 0%, rgba(253, 211, 32, 0.22) 100%);
  }
}

.verticalFilp {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: textIn;
  animation-delay: 0s;
}

.radialGradient {
  background: linear-gradient(to right, #010306, #010306,#010306,#17203e, #17203e,#17203e,#010306, #010306, #010306);
}

@keyframes textIn {
  0% {
    transform: translateY(20px);
  }

  30% {
    opacity: 1;
    transform: translateY(0px);
  }

  70% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-130px);
    display: none;
    animation: transform 5s ease-in;
  }
}

@keyframes textIn1 {
  0% {
    transform: translateY(20px);
  }

  30% {
    opacity: 1;
    transform: translateY(0px);
  }

  70% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-70px);
    display: none;
    animation: transform 5s ease-in;
  }
}

.textBorder {
  -webkit-text-stroke: 1px #0F54B4;
}

@media (max-width:640px) {
  .verticalFilp {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: textIn1;
    animation-delay: 0s;
  }
}

@media (max-width: 639px) and (min-width: 320px){
  .mainVideo{
    width: 280px;
    top: 0px;
  }
}
@media (max-width: 775px) {
  .radialGradient{
    background: #010306;
  }
}

.squircle {
  mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners); /* So you can see it */
}